<div class="jumbotron">
	<h1>About iApplication</h1>
 	<p>Build your online presence to make it easier to find potential employers and help them find you. iAppication allows you to create a profile built around answering common questions asked on job applications. </p>
 </div>

 <div class="jumbotron">
	<h1>How it works</h1>
 	<ol>
  <li>Create profile</li>
  <li>Complete digital application</li>
  <li>Search job database</li>
  <li>Submit digital application to potential employers</li>
  <li>Track iApplication status</li>
  <li>Get HIRED!</li>
</ol>
 </div>