<div class="jumbotron center">
	<h1>Welcome To iApplication</h1>
	<h3>Find and Apply for your Dream Job</h3>
	<p>
		<%= link_to "Register", "#", class: "btn btn-danger" %>
		<%= link_to "Sign In", "#", class: "btn btn-danger" %>
	</p>

</div>